<template>
  <section class="about">
    <h1>This is an about page</h1>
    <div>
      <span> Pinia demo 来自Home的count </span>
      <Button type="danger" size="mini" @click="countAdd"> count++ {{ count }} </Button>
    </div>
    <div>
      <span>route 参数信息：{{ route.params }}</span>
    </div>
  </section>
</template>

<script lang="ts" setup>
import { Button } from 'vant';
import { onMounted, toRefs } from 'vue';
import { useCount } from '@/stores/useCount';
import { useRoute } from 'vue-router';
import { login } from '@/api/index';

const { count, countAdd } = toRefs(useCount());
const route = useRoute();
console.log('Router with Composition API demo: ', route);
// 详见文档：https://next.router.vuejs.org/guide/advanced/composition-api.html#accessing-the-router-and-current-route-inside-setup

onMounted(() => {
  // axios请求demo：
  login({
    name: 'admin',
    password: '123456',
  }).then();
});
</script>

<style scoped></style>
